nav {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav header {
  width: 28vw;
  display: flex;
  justify-content: space-between;
  margin-right: 7rem;
  align-items: center;
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding: 0 1rem;
}

nav h1 {
  margin-left: 7rem;
}
