.scrambled-container {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-button {
  color: black;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  width: 20vw;
}

.scrambled-word {
  font-size: 40px;
}

.guess-input-section {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.guess-input {
  background-color: #374151;
  border: 1px solid #4b5563;
  border-radius: 10px;
  width: 100%;
  font-size: 24px;
  padding: 0.5rem 0rem 0.5rem 0.25rem;
}

.guesses-section {
  display: flex;
  height: 40vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.guesses-title {
  font-size: 26px;
  height: 5vh;
}

.guesses-list {
  height: 32vh;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: capitalize;
  gap: 0.75rem;
}

.guesses-list li {
  font-size: 28px;
  padding: 0.35rem;
  border-radius: 4px;
  flex-shrink: 0;
}

.guesses-list li[data-correct='true'] {
  background: rgba(20, 83, 45, 0.2);
}

.guesses-list li[data-correct='false'] {
  background: rgba(127, 29, 29, 0.2);
}

.guess-icon {
  margin-right: 0.5rem;
}

.result-message {
  height: 2.5vh;
  color: white;
  text-align: center;
  font-size: 26px;
}

@media (max-width: 450px) {
  .guesses-title {
    font-size: 24px;
  }

  .guesses-list li {
    padding: 0.2rem;
    font-size: 24px;
  }
}

@media (min-height: 883px) {
  .game-container {
    height: 58vh;
  }

  .guesses-list {
    height: 30vh;
  }
}
