/* Landing Page content box */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border: 2px solid white;
  background-color: #2d2d2d;
  width: 30%;
  padding: 1rem;
  border-radius: 20px;
}

.wrapper h1 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 1rem;
}

.wrapper p {
  font-size: 22px;
  padding-bottom: 1rem;
}
